<!DOCTYPE html>
<html>
<head>
  <title>Scram</title>
  <%= stylesheet_link_tag    "scram/application", media: "all" %>
  <%= javascript_include_tag "scram/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
